#home-section,
#showcase-section {
    position: relative;
    z-index: 1;
    color: white;
}


.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    pointer-events: none;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

#home-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#showcase-section {
    padding: 50px 0;
}

.trunk-item {
    text-align: center;
    margin-bottom: 20px;
}

.trunk-image {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    transition: transform 0.3s ease;
}

.trunk-description {
    background-color: black;
    padding: 10px;
    display: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
    color: white;
    width: 100%;
    box-sizing: border-box;
}

.trunk-item:hover .trunk-description {
    display: block;
}